body {
    font-size: 10px;
    height: 100%;
    font-family: 'Microsoft YaHei';
}

.waifu {
    position: fixed;/* 相对于窗口绝对定位 */
    bottom: 0;/* 距离底线0 */
    z-index: 1;/* 图层层级 */
    transform: translateY(5px);/* 图层下沉5px */
}

.waifu:hover {
    transform: translateY(0);/* 图层归位 */
}

.mengban {
	display: none;/* 平常不显示 */
	position: absolute;/* 相对于父元素绝对定位绝对定位 */
  	width: 100%;/* 宽填充满 */
	height: 100%;/* 高填充满 */
  	background-color: rgba(32,123,322,.5);/* 背景颜色 */
  	bottom: 0;/* 距离底线0，防止滚动条 */
	left: 0;/* 距离左线0，防止滚动条 */
}

.waifu-tips {
	position: absolute;/* 相对于父元素绝对定位 */
    opacity: 0;/* 不透明度：完全透明 */
    margin: 10px 20px;/* 外边距：控制对话框位置，上下10px，左右20px */
    padding: 5px 10px;/* 内边距：控制文本位置，上下5px，左右10px */
    border: 1px solid rgba(224, 186, 140, 0.62);/* 对话框线条颜色 */
    border-radius: 12px;/* 对话框四角弧度 */
    background-color: rgba(236, 217, 188, 0.5);/* 对话框底色 */
    box-shadow: 0px 3px 15px 2px rgba(191, 158, 118, 0.2);/* 对话框阴影 */
    text-overflow: ellipsis;/* 文本溢出：省略号 */
    overflow: hidden;/* 文本溢出处理：隐藏 */
	-webkit-user-select:none;/* 文本不可选中 */
    animation-delay: 5s;/* 播放延时 */
    animation-duration: 30s;/* 播放周期 */
    animation-iteration-count: infinite;/* 播放次数（无限） */
    animation-name: shake;/* 摇动 */
    animation-timing-function: ease-in-out;/* 动画以低速开始和结束 */
}

.waifu-tool {
	z-index: 11;/* 图层层级 */
    display: none;/* 通常不显示 */
    color: #aaa;
    top: 5px;
    right: 10%;
    position: absolute;
}

.waifu:hover .waifu-tool {
    display: block;/* 悬停显示 */
}

.waifu-tool span {
    display: block;
    cursor: pointer;
    color: #5b6c7d;
    transition: 0.2s;
}

.waifu-tool span:hover {
    color: #34495e;
}

.waifu #live2d{
    z-index: 10;
    position: relative;
    bottom: 10px;/* 下沉10px，做的鼠标悬停动画 */
}

.waifu #L2dCanvas{
    z-index: 11;
    position: relative;
	bottom: 10px;/* 下沉10px，做的鼠标悬停动画 */
}

/* 关键帧抖动 */
@keyframes shake {
    2% {
        transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    }

    4% {
        transform: translate(0.5px, 1.5px) rotate(1.5deg);
    }

    6% {
        transform: translate(1.5px, 1.5px) rotate(1.5deg);
    }

    8% {
        transform: translate(2.5px, 1.5px) rotate(0.5deg);
    }

    10% {
        transform: translate(0.5px, 2.5px) rotate(0.5deg);
    }

    12% {
        transform: translate(1.5px, 1.5px) rotate(0.5deg);
    }

    14% {
        transform: translate(0.5px, 0.5px) rotate(0.5deg);
    }

    16% {
        transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    }

    18% {
        transform: translate(0.5px, 0.5px) rotate(1.5deg);
    }

    20% {
        transform: translate(2.5px, 2.5px) rotate(1.5deg);
    }

    22% {
        transform: translate(0.5px, -1.5px) rotate(1.5deg);
    }

    24% {
        transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    }

    26% {
        transform: translate(1.5px, 0.5px) rotate(1.5deg);
    }

    28% {
        transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    }

    30% {
        transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    }

    32% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    34% {
        transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    }

    36% {
        transform: translate(0.5px, -1.5px) rotate(0.5deg);
    }

    38% {
        transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    }

    40% {
        transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    }

    42% {
        transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    }

    44% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    46% {
        transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    }

    48% {
        transform: translate(2.5px, -0.5px) rotate(0.5deg);
    }

    50% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    52% {
        transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    }

    54% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    }

    56% {
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    58% {
        transform: translate(2.5px, 2.5px) rotate(0.5deg);
    }

    60% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    62% {
        transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    }

    64% {
        transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    }

    66% {
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    68% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    70% {
        transform: translate(2.5px, 2.5px) rotate(0.5deg);
    }

    72% {
        transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    }

    74% {
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    76% {
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    78% {
        transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    }

    80% {
        transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    }

    82% {
        transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    }

    84% {
        transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    }

    86% {
        transform: translate(2.5px, 1.5px) rotate(0.5deg);
    }

    88% {
        transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    }

    90% {
        transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    }

    92% {
        transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    }

    94% {
        transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    }

    96% {
        transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    }

    98% {
        transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    }

    0%, 100% {
        transform: translate(0, 0) rotate(0);
    }
}

/* 加载图标字体库 */
@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('flat-ui-icons-regular.eot'); /* IE9 */
  src: url('flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('flat-ui-icons-regular.woff') format('woff'), 
  url('flat-ui-icons-regular.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg'); /* iOS 4.1- */
}

/* css选择器：class属性内容以fui-开头或包含fui- */
/* 定义ico样式 */
[class^="fui-"],
[class*=" fui-"] {
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fui-cross:before {
  content: "\e609";
}

.fui-info-circle:before {
  content: "\e60f";
}

.fui-photo:before {
  content: "\e62a";
}

.fui-eye:before {
  content: "\e62c";
}

.fui-chat:before {
  content: "\e62d";
}

.fui-home:before {
  content: "\e62e";
}

.fui-user:before {
  content: "\e631";
}

.fui-close:before {
  content: "\e609";
}

.fui-draggable:before {
  content: "\e63e";
}

/* ico大小、颜色 */
.fui-close, .fui-draggable{
    font-size: 36px;
    color: #72d5df;
}

.fui-draggable{
    position: absolute;
    left: 240px;
    top: 80px;
}

